html{
  width: auto;
  height: auto;
}
body{
  background-color: #fff;
}
h1{
  color: #777;
}
#button{
  border-radius: 5px;
  font-size: 13px;
  width: 120px;
  height: 35px;
}
.form{
  margin-top: 50px;
  text-align: center;
  border-color: black;
  border-style: solid;
}

.datos{
  font-size: 18px;
  width:500px;
  height:35px;
}

.graph{
  border-style: solid;
  border-color: black;
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
path.textpath {
    fill: none;
    stroke: none;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  stroke: #000;
  fill:#ddd;
  stroke-width: 1px;

}

text {
  font: 10px sans-serif;
  pointer-events: none;
}
