body{
  background-color: #b7b7b7;
}
.tabla{
  margin-top: 30px;
}

table, td {
   border: 1px solid black;
   margin: auto;
}
#dato{
  width:40px;
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
path.textpath {
    fill: none;
    stroke: none;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  stroke: #000;
  fill:#ddd;
  stroke-width: 1px;

}

text {
  font: 10px sans-serif;
  pointer-events: none;
}
